.body {
    background: url("/css/HintergrundChrome.jpg");
    background-repeat: no-repeat ;
    background-size: 100%;
    background-position-x: left;
    }

    
.colored {
    color: white;
    }